body {
  align-items: center;
  background-color: #1c1c1c;
  justify-content: center;
  font-family: 'Verdana';
  min-height: 100vh;
  margin: 0;
}

#top-div {
  background-color: #f2f2f2;
  box-shadow: 0 5px 15px 2px black;
  color: black;
  position: relative;
  /* padding: 40px 15px; */
  width: 100%;
}

#top-div h1 {
  color: black;
  display: inline-block;
  padding: 40px 0 40px 124.6px;
  vertical-align: middle;
}

#search-button {
  /* position: relative;
  right: -600px; */
  background-color: #1c1c1c;
  border-radius: 0.5rem;
  color: #f2f2f2;
  font-size: 1;
  font-weight: 400;
  line-height: 1.5;
  padding: .375rem 1rem;
  position: absolute;
  right: 124.6px;
  text-decoration: none;
  top: 50%;
  transform: translateY(-50%);
}

#search-button:hover {
  background-color: #f2f2f2;
  border: medium solid #1c1c1c;
  border-radius: 0.5rem;
  color: #1c1c1c;
}

/* The movies and grid */
#movie-grid {
  display: grid;
  grid-column-gap: 30px;
  grid-template-columns: 230px 230px 230px 230px 230px;
  grid-row-gap: 40px;
  justify-content: center;
  padding: 50px 0;
  width: 100%;
}

.movie-entry {
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  height: 330px;
  text-align: center;
}

.movie-entry:hover {
  background-color: white;
  box-shadow: 0 4px 20px 5px white;
  color: black;
}

/* The modal and all associated elements */
.black-background {
  background-color: black;
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: 1;
  opacity: 0.7;
}

.noscroll {
  overflow: hidden;
}

.modal-background {
  background-size: cover;
  background-repeat: no-repeat;
  bottom: 0px;
  filter: blur(8px);
  height: 100%;
  left: 0px;
  opacity: 0.3;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: -1;
}

.hidden-image {
  display: none;
}

.show-modal {
  /* background-color: rgba(0,0,0, 0.85); */
  overflow: hidden;
  padding-right: 17px;
  /*This is just the hardcoded scrollbar width from chrome*/
}

.movie-modal {
  background-color: #5a5c5a;
  border-radius: 5px;
  box-shadow: 0 4px 20px 5px black;
  color: white;
  height: 675px;
  overflow-y: auto;
  padding: 30px 30px 0 30px;
  pointer-events: auto;
  position: fixed;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease;
  width: 550px;
  z-index: 2;
}

.movie-modal h1 {
  font-size: 40px;
}

.movie-modal p {
  font-size: 18px;
  padding: 0px;
}

.description {
  font-size: 20px;
  padding-bottom: 15px;
  text-align: left;
}

#modal-info {
  margin-top: 50px;
}

/* The close button */
#close {
  cursor: pointer;
  height: 24px;
  pointer-events: auto;
  position: fixed;
  width: 28px;
}

.remove-div {
  display: flex;
  justify-content: center;
}

#remove-button {
  background-color: white;
  border-radius: 50%;
  color: black;
  cursor: pointer;
  padding: 5px;
  position: relative;
  display: flex;
  align-items: center;
  max-width: 34px;
}

#remove-button:hover {
  border-radius: 20px;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 300px;
  transition: max-width 1s;
  -webkit-transition: max-width 1s;
}

#remove-button span {
  display: none;
  font-size: 16px;
  font-family: 'Verdana';
  font-weight: bold;
  margin-left: 5px;
  white-space: nowrap;
  position: relative;
}

#remove-button:hover span {
  display: inline;
  padding-right: 5px;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

/* This is the popup telling the user that their movie has been removed */
.removed-popup {
  height: 250;
  width: 300;
  color: black;
  background-color: white;
  border-radius: 10px;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  padding: 50px 20px;
  line-height: 1.5;
  z-index: 5;
  box-shadow: 0 4px 20px 5px black;
}
