body {
  background-color: #1c1c1c;
}

main {
  align-items: center;
  margin-top: 10em;
}

.search-bar-container {
  box-shadow: 0 2px 15px 2px #f2f2f2;
  padding: 40px 15px;
  margin: auto;
  width: 60%;
}

#search-label {
  color: white;
  font-weight: bold;
  padding-bottom: 10px;
}

/* #search {
  width: 70%;
} */

#search:focus {
  border: medium solid #d62020;
  border-radius: 0.5rem;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s
}

#submit-button {
  display: inline-block;
}

.custom-btn{
  /* position: relative;
  right: -600px; */
  background-color: #fff;
  border: medium solid #fff;
  border-radius: 0.5rem;
  color: #1c1c1c;
  font-size: 1;
  font-weight: bold;
  line-height: 1.5;
  margin-top: 40px;
  padding: .375rem 1.5rem;
  text-decoration: none;
}

.custom-btn:hover{
  background-color:#1c1c1c;
  border: medium solid #fff;
  border-radius: 0.5rem;
  color: #fff;
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #fff;
  color: #555;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  pointer-events: none;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: 80px;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
