body {
  background-color: #1c1c1c;
}

main {
  align-items: center;
  margin-top: 5em;
}

form {
  padding-left: 10px;
  padding-right: 10px;
}

/* *******************************************
The scroll bar
******************************************* */

::-webkit-scrollbar{
  background-color: #1c1c1c;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #1c1c1c;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #f2f2f2;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
  background-color: #e1e6ed;
}

/* *******************************************
The header div
******************************************* */
.heading {
  background-color: #f2f2f2;
  box-shadow: 0 5px 15px 2px black;
  color: black;
}

#top-div {
  background-color: #f2f2f2;
  color: black;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 40px 8.2%;
}

#top-div h1 {
  color: black;
  /* display: inline-block; */
  font-family: "Courier New";
  font-weight: bold;
  /* padding: 40px 0 40px 8.2%;
  vertical-align: middle; */
}

#shelf-button{
  background-color: #1c1c1c;
  border-radius: 0.5rem;
  color: #f2f2f2;
  font-family: "Courier New";
  font-size: 16px;
  margin-top: 0;
  /* margin-right: 17px; */
  /* margin-right: 34.25px; */
  margin-right: 2.141rem;
  text-align: center;
  text-decoration: none;
}

#shelf-button:hover {
  background-color: #f2f2f2;
  border: medium solid #1c1c1c;
  border-radius: 0.5rem;
  color: #1c1c1c;
}

/* *******************************************
The movie/series  navbar
******************************************* */
.nav {
  justify-content: flex-end;
  background-color: #1c1c1c;
}

.nav-tabs .nav-link{
  background-color: #1c1c1c;
  border-radius: 0 0 0.3rem 0.3rem;
  color: #f2f2f2;
  font-family: "Courier New";
  font-weight: bold;
}


.nav-tabs .nav-link.active {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
  color: #1c1c1c;
  font-family: "Courier New";
  font-weight: bold;
}

/* *******************************************
The search bar
******************************************* */
#search-bar-container {
  box-shadow: 0 2px 15px 2px #f2f2f2;
  padding: 40px 15px 30px;
  margin: auto;
  width: 60%;
}

#search-label {
  color: white;
  font-family: "Helvetica";
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 10px;
  position: relative;
  width: 100%;
}

.bottom-border {
  border-bottom: medium solid #f2f2f2;
  margin-bottom: 20px;
  padding-bottom: 35px;
}

/* .results-show {
  margin-top: 20px;
} */

#search {
  border: medium solid white;
  border-radius: 0.5rem;
  font-family: "Courier New";
  outline-style: none;
}

#search:focus {
  border: medium solid #d62020;
  border-radius: 0.5rem;
  box-shadow: none;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
  outline: none;
}

#submit-button {
  display: inline-block;
}

.custom-btn {
  /* position: relative;
  right: -600px; */
  background-color: #fff;
  border: medium solid #fff;
  border-radius: 0.5rem;
  color: #1c1c1c;
  font-family: "Courier New";
  font-size: 1;
  font-weight: bold;
  line-height: 1.5;
  margin-top: 40px;
  padding: .375rem 1.5rem;
  text-decoration: none;
}

.custom-btn:hover {
  background-color: #1c1c1c;
  border: medium solid #fff;
  border-radius: 0.5rem;
  color: #fff;
}

/* The results of the search */
li.result-li{
  /* border: medium solid #f2f2f2;
  border-radius: 8px; */
  background-color: #f2f2f2;
  border-radius: 8px;
  box-shadow: 0 4px 20px 5px black;
  color: black;
  list-style-type: none;
  margin: 15px auto 15px auto;
  height: 171px;
  padding-top: 5px;
  position: relative;
  width: 100%;
}

.no-results-text{
  font-family: "Helvetica";
  font-weight: bold;
  font-size: 18px;
  font-style: italic;
  position: absolute;
  left: 50%;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

.result-img {
  color: black;
  cursor: pointer;
  float: left;
  margin: 10px 20px 10px 10px;
  width: 94px;
  vertical-align: middle;
}

.result-title {
  color: black;
  font-weight: bold;
  font-size: 22px;
  line-height: 1;
  position: absolute;
  text-decoration: none;
  top: 8%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 55%;
}

.result-title:hover {
  background-color: black;
  color: #f2f2f2;
}

.result-p {
  cursor: pointer;
  left: 124px;
  /* margin: 0 10px 10px 10px; */
  overflow: hidden;
  position: absolute;
  top: 30%;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  word-break: break-word;
  max-width: 55%;
}

.result-lib-button {
  /* Size of the material icon is 24px, thus height must equal 24 + padding-top + padding-bottom
  to render the icon at its proper size of 24px */
  border: medium solid black;
  border-radius: 0.5rem;
  background-color: black;
  color: #f2f2f2;
  display: inline-block;
  float: right;
  height: 34px;
  margin-left: 20px;
  outline-style: none;
  padding: 2px;
  position: absolute;
  right: 13%;
  top: 50%;
  transform: translateY(-50%);
}

.result-lib-button:hover {
  background-color: #f2f2f2;
  border: medium solid black;
  border-radius: 0.5rem;
  color: black;
  outline-style: none;
}

/* Popup container */
.popup {
  position: absolute;
  cursor: pointer;
  left: -58px;
  margin-top: 5px;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 150px;
  background-color: black;
  color: #f2f2f2;
  text-align: center;
  border-radius: 6px;
  padding: 8px 5px;
  position: absolute;
  pointer-events: none;
  /* z-index: 1;
  top: 110%;
  left: 275%; */
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* ***********************************
The "Scroll to top" button
*********************************** */
#btn-back-to-top{
  border-radius: 20px;
  bottom: 20px;
  background-color: #f2f2f2;
  color: black;
  display: none;
  position: fixed;
  right: 20px;
}

/* ***********************************
The animations
*********************************** */
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
